@model IEnumerable<AnnouncementManager2.Core.Models.Domains.Announcement>

<div id="userAnnouncementTable">
    <div class="row">
        <div class="input-group mb-3">
            @if (Model != null && Model.Any())
            {
                @foreach (var announcement in Model)
                {
                    <table class="table table-striped table-hover sortable">
                    <tbody>
                        <tr>

                            <td onclick="location.href = '@Url.Action("AnnouncementWindow", "Announcement", new { id = announcement.Id })'">
                                <img src="~/Images/@announcement.ImageName"
                                    width="150px"
                                    height="150px"
                                    asp-append-version="true" />
                            </td>

                            <td onclick="location.href = '@Url.Action("AnnouncementWindow", "Announcement", new { id = announcement.Id })'">
                                <h6>@announcement.Subject</h6>
                                <span>@Html.Raw(announcement.Body.Substring(0, 30))</span>
                                <h5>@announcement.Price zł</h5>
                            </td>

                            <td onclick ="location.href = '@Url.Action("AnnouncementWindow", "Announcement", new { id = announcement.Id })'">
                                <h6>Kategoria:</h6>
                                @announcement.Category.Name
                                <h6>Data dodania:</h6>
                                @announcement.StartAnnouncement
                                <br/>
                                <small>Nr ogłoszenia: @announcement.Id</small>
                            </td>

                            <td width="200px">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-success " ,
                                    onclick="window.location.href='@Url.Action("Announcement", "Announcement",
                                    new { id = announcement.Id })'">
                                        Edytuj
                                    </button>

                                    <button class="btn btn-danger"
                                    onclick="deleteAnnouncement('@announcement.Id', this)">
                                        Usuń
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                }
            }
            else
            {
            <div class="text-center" colspan="5">
                Brak ogłoszeń
            </div>
            }
        </div>
    </div>
</div>
